@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

// COLORS Sass
$lightgrey: #dddddd;

// COLORS Bootstrap
$custom-colors: ('lightgrey': #dddddd);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
